<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div>
        hello
    </div>
    <p>Enter Company:</p>
    <form action="">
        <label for="company">Company Name:</label>
        <input type="text" id="company">
        <input type="submit" value="Submit">
    </form>
    <br>
    <p>Enter Application:</p>
    <form action="">
        <label for="company">Company Name:</label>
        <input type="text" id="company">
        <label for="role">Role:</label>
        <input type="text" id="role">
        <label for="status">Status:</label>
        <input type="" id="status">
        <label for="date">Date Applied:</label>
        <input type="date">
        <label for="notes">Notes:</label>
        <input type="text" id="notes">
    </form>
</body>
</html>