<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Geist+Pixel&display=swap" rel="stylesheet">
    <title>Internship Tracker</title>
</head>
<body>
    <h1>Internship Tracker</h1>

    <h2>Add Company</h2>
    <form action="/" method="POST">
        <input type="hidden" name="form_type" value="add_company">
        <label for="company">Company Name:</label>
        <input type="text" id="company" name="name">
        <input type="submit" value="Add Company">
    </form>

    <br>

    <h2>Add Application</h2>
    <form action="/" method="POST">
        <input type="hidden" name="form_type" value="add_application">
        <label for="app_company">Company Name:</label>
        <input type="text" id="app_company" name="name">
        <label for="role">Role:</label>
        <input type="text" id="role" name="role">
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="Applied">Applied</option>
            <option value="Interview">Interview</option>
            <option value="Offer">Offer</option>
            <option value="Rejected">Rejected</option>
        </select>
        <label for="date">Date Applied:</label>
        <input type="date" name="date_applied">
        <label for="notes">Notes:</label>
        <input type="text" id="notes" name="notes">
        <input type="submit" value="Add Application">
    </form>
    <br>
    <table>
    <thead>
        <tr>
            <th>Company</th>
            <th>Role</th>
            <th>Status</th>
            <th>Date Applied</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for app in applications %}
        <tr>
            <td>{{ app[0] }}</td>
            <td>{{ app[1] }}</td>
            <td>{{ app[2] }}</td>
            <td>{{ app[3] }}</td>
            <td>{{ app[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>